/vagrant/*.vdi
/ansible/hosts
/ansible/*.retry
/vagrant/.vagrant
pheno.key
pheno.key.pub
/vagrant/*-cloudimg-console.log
data/
build.properties
Dependencies
Environment
Info
target
Version
applications/project
applications/out
applications/sbt
applications/target
*.iml
**/*.iml
.idea
**/.idea
